reports/
*.so
.vscode/
.idea/
.DS_Store

__pycache__/
*.pyc
.python-version
logs/

# plugin
debugtalk.bin
debugtalk.so

html/
allure_results/
.pytest_cache/

#*.json
report/
# Environments
#.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.xml
*/.DS_Store

api/**/*.py
testcases/**/*.py
testsuites/**/*.py
*.log
log/*.log

.env

utils/curl_to_yaml/output/
utils/curl_to_yaml/curl_command.txt